# Turn on URL rewriting
RewriteEngine On

# Installation directory
RewriteBase /urlshortener/



# Allow any files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !favicon.ico$
RedirectMatch 301 ^(.+)/$ $1
RewriteRule .* index.php/$0 [PT]
